body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #333;
  font-size: 24px;
}

.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background-color: #2e2e2e;
  margin: 1rem 1rem;
  box-shadow: 0px 0px 18px rgba(0,0,0,.6);
  max-width: 600px;
  min-width: 600px;
  max-height: 600px;
  min-height: 600px;
}

.game__buttons {
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translate(-50%);
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  border: 20px solid #2e2e2e;
  color: #000;
  line-height: 50px;
  text-align: center;
  font-family: 'Gotham Pro', sans-serif;
}

.start_button {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 50%;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
}

.score {
  line-height: 200px;
  font-size: 90px;
}

.final_score {
  line-height: 30px;
  font-size: 30px;
}

.newGame_button {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: rgb(250, 85, 85);
}

#game__colors {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  min-width: 550px;
  justify-content: space-between;
}

.colorCard {
  cursor: pointer;
  min-width: 260px;
  min-height: 260px;
  max-width: 260px;
  max-height: 260px;
}

.colorCard:nth-child(1) {
  border-top-left-radius: 100%;
  margin-bottom: 25px;
  box-shadow: inset 3px 3px 10px rgba(255,255,255,.3);
}

.colorCard:nth-child(2) {
  border-top-right-radius: 100%;
  margin-bottom: 25px;
  box-shadow: inset -3px 3px 10px rgba(255,255,255,.3);;
}
.colorCard:nth-child(3) {
  border-bottom-left-radius:100%;
  box-shadow: inset -3px -3px 10px rgba(255,255,255,.3);
}
.colorCard:nth-child(4) {
  border-bottom-right-radius: 100%;
  box-shadow: inset 3px -3px 10px rgba(255,255,255,.3);
}

.blue {
 background-color: blue;
}
.blue.flash {
  background-color: rgb(125, 125, 255);
}

.green {
  background-color: green;
}
.green.flash {
  background-color: rgb(125, 255, 125);
}

.yellow {
  background-color: yellow;
}
.yellow.flash {
  background-color: rgb(255, 255, 125);
}

.red {
  background-color: red;
}
.red.flash {
  background-color: rgb(255, 125, 125);
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: lightgray;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: lightgray;
  background: #675f6b;
}

label + input[type=radio] + label {
  border-left: solid 3px #675f6b;
}
.radio-group {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 500px) {
  .main {
    font-size: 12px;
    margin: 50% 15%;
  }
  .game__wrapper {
    margin: 0.3rem 0.3rem;
    box-shadow: 0px 0px 18px rgba(0,0,0,.6);
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
  }
  
  .game__buttons {
    top: 60px;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    color: #000;
    border: 8px solid #2e2e2e;
    line-height: 17px;
  }
  
  .start_button {
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    font-size: 17px;
  }
  
  .score {
    line-height: 70px;
    font-size: 30px;
  }
  
  .final_score {
    line-height: 10px;
    font-size: 12px;
  }
  
  .newGame_button {
    font-size: 8px;
  }
  #game__colors {
    max-width: 185px;
    min-width: 185px;
  }
  
  .colorCard {
    min-width: 87px;
    min-height: 87px;
    max-width: 87px;
    max-height: 87px;
  }
  .colorCard:nth-child(1) {
    border-top-left-radius: 100%;
    margin-bottom: 8px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,.3);
  }
  
  .colorCard:nth-child(2) {
    border-top-right-radius: 100%;
    margin-bottom: 8px;
    box-shadow: inset -1px 1px 1px rgba(255,255,255,.3);;
  }
  .colorCard:nth-child(3) {
    border-bottom-left-radius: 100%;
    box-shadow: inset -1px -1px 1px rgba(255,255,255,.3);
  }
  .colorCard:nth-child(4) {
    border-bottom-right-radius: 100%;
    box-shadow: inset 1px -1px 1px rgba(255,255,255,.3);
  }
  label {
    display: block;
  }
  label + input[type=radio] + label {
    border-left: 0;
  }
  .radio-group {
    display: block;
  }
}
@media (min-width: 501px) and (max-width: 750px) {
  .main {
    font-size: 16px;
    margin: 30% 15%;
  }
  .game__wrapper {
    margin: 0.3rem 0.3rem;
    box-shadow: 0px 0px 18px rgba(0,0,0,.6);
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
  }
  
  .game__buttons {
    top: 90px;
    min-width: 105px;
    max-width: 105px;
    min-height: 105px;
    max-height: 105px;
    color: #000;
    border: 12px solid #2e2e2e;
    line-height: 25px;
  }
  
  .start_button {
    min-width: 105px;
    max-width: 105px;
    min-height: 105px;
    max-height: 105px;
    font-size: 25px;
  }
  
  .score {
    line-height: 105px;
    font-size: 40px;
  }
  
  .final_score {
    line-height: 16px;
    font-size: 16px;
  }
  
  .newGame_button {
    font-size: 12px;
  }
  #game__colors {
    max-width: 275px;
    min-width: 275px;
  }
  
  .colorCard {
    min-width: 130px;
    min-height: 130px;
    max-width: 130px;
    max-height: 130px;
  }
  .colorCard:nth-child(1) {
    border-top-left-radius: 100%;
    margin-bottom: 12px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,.3);
  }
  
  .colorCard:nth-child(2) {
    border-top-right-radius: 100%;
    margin-bottom: 12px;
    box-shadow: inset -1px 1px 1px rgba(255,255,255,.3);;
  }
  .colorCard:nth-child(3) {
    border-bottom-left-radius: 100%;
    box-shadow: inset -1px -1px 1px rgba(255,255,255,.3);
  }
  .colorCard:nth-child(4) {
    border-bottom-right-radius: 100%;
    box-shadow: inset 1px -1px 1px rgba(255,255,255,.3);
  }
  label {
    display: block;
  }
  label + input[type=radio] + label {
    border-left: 0;
  }
  .radio-group {
    display: block;
  }
}
@media (min-width: 751px) and (max-width: 1024px) {
  .main {
    font-size: 24px;
    margin: 10% 10%;
  }
  label {
    display: block;
  }
  label + input[type=radio] + label {
    border-left: 0;
  }
  .radio-group {
    display: block;
  }
}

@media (min-width: 1025px) and (max-width: 1255px) {

  label {
    display: block;
  }
  label + input[type=radio] + label {
    border-left: 0;
  }
  .radio-group {
    display: block;
  }
}


